## Global Imports

In [1]:
import pandas
import time

In [2]:
usecols = ['borough_code', 'date_processed', 'house_flat',"ward_code",
       'inner_outer', 'local_authority', 'month',
       'post_code', 'post_code_clean', 'postcode', 'price', 'property_type',
       'quarter', 'tenure', 'town',
       'transaction_id', 'whether_new',
       'whether_newbuild', 'year', 'year_month']
london = pandas.read_csv("/home/vivek/Documents/mydata/iimb/london_real_estate/regression_input_post_code_year_month_aggregate",usecols=usecols,low_memory=False)

In [39]:
london.head(2)

,borough_code,date_processed,house_flat,inner_outer,local_authority,month,post_code,post_code_clean,postcode,price,property_type,quarter,tenure,town,transaction_id,ward_code,whether_new,whether_newbuild,year,year_month
0,E09000003,11/01/1995 00:00,NaN,Outer,BARNET,1,N20 9AQ,N20 9AQ,NaN,155000,F,1,L,LONDON,{5C1CC576-24F6-453B-9984-3898CC3AA528},E05000058,Y,NaN,1995,1995/1
1,E09000028,10/01/1995 00:00,NaN,Inner,SOUTHWARK,1,SE1 4HG,SE1 4HG,NaN,67500,F,1,L,LONDON,{95DF4882-F26C-4F92-A7B5-38994DC4C35D},E05000542,Y,NaN,1995,1995/1

In [3]:
train = londonPrice[londonPrice["year_month_new"]<201401]
test = londonPrice[londonPrice["year_month_new"]>=201401]

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [36]:
start_time = time.time()
print (start_time)
md = smf.mixedlm('price~year_month_new + airport_10000 + atm_500 + bank_500 + bus_station_500 + church_500 + hospital_500  + parking_500 + pharmacy_500 + police_500 + restaurant_500 + school_500 + taxi_stand_2000 + train_station_1000 + university_500  + ndvi_mean + Tmax + rain_mm',train, groups=train["post_code"])
mdf = md.fit()
print(mdf.summary())
print("Total Time Taken Is %s seconds" % (time.time() - start_time))

1500132748.5208478
                         Mixed Linear Model Regression Results
========================================================================================
Model:                      MixedLM         Dependent Variable:         price
No. Observations:           403071          Method:                     REML
No. Groups:                 121802          Scale:                      85001807436.1233
Min. group size:            1               Likelihood:                 -5780783.5804
Max. group size:            35              Converged:                  Yes
Mean group size:            3.3
----------------------------------------------------------------------------------------
                        Coef.        Std.Err.     z    P>|z|     [0.025        0.975]
----------------------------------------------------------------------------------------
Intercept             -56149102.189 835990.448 -67.165 0.000 -57787613.359 -54510591.019
year_month_new              280.051      4.156  67.391 0.000       271.906       288.195
airport_10000            -43429.670   1053.273 -41.233 0.000    -45494.048    -41365.292
atm_500                  -16401.374   1236.592 -13.263 0.000    -18825.050    -13977.698
bank_500                  22260.240    858.486  25.930 0.000     20577.637     23942.842
bus_station_500           -9718.173    467.347 -20.794 0.000    -10634.156     -8802.190
church_500                -7716.293    653.907 -11.800 0.000     -8997.927     -6434.660
hospital_500               6267.114    931.130   6.731 0.000      4442.132      8092.096
parking_500               12075.812   1551.142   7.785 0.000      9035.631     15115.994
pharmacy_500              -7715.962    962.541  -8.016 0.000     -9602.507     -5829.417
police_500               -29499.132   4043.248  -7.296 0.000    -37423.752    -21574.512
restaurant_500             5402.817    129.606  41.686 0.000      5148.793      5656.841
school_500                18382.570    545.010  33.729 0.000     17314.370     19450.771
taxi_stand_2000           57902.920   1608.280  36.003 0.000     54750.749     61055.091
train_station_1000       -26739.160   1243.363 -21.506 0.000    -29176.106    -24302.214
university_500           -11195.260    953.076 -11.746 0.000    -13063.254     -9327.266
ndvi_mean                969167.101  34939.472  27.738 0.000    900686.994   1037647.209
Tmax                        876.639     90.388   9.699 0.000       699.482      1053.795
rain_mm                     149.061     18.261   8.163 0.000       113.270       184.853
groups RE          284608548304.464   5848.198
========================================================================================

Total Time Taken Is 731.752325296402 seconds

## Calculating Test MAPE FOR LME

In [52]:
testCols = ['year_month_new', 'airport_10000', 'atm_500', 'bank_500',\
       'bus_station_500', 'church_500', 'hospital_500',\
       'parking_500', 'pharmacy_500', 'police_500', 'restaurant_500',\
       'school_500', 'taxi_stand_2000', 'train_station_1000', 'university_500',\
        'ndvi_mean',\
       'Tmax', 'rain_mm']
predicted = mdf.predict(test[testCols])
test1 = test
test1["Predicted"] = predicted
postalMean = pandas.DataFrame(test1.groupby(["post_code"])["price","Predicted"].mean()).reset_index()
postalMean["AP"] = abs(postalMean["price"]  -  postalMean["Predicted"])/postalMean["price"]
postalMean.head(5)

  post_code          price      Predicted        AP
0            614260.622941  885794.656036  0.442050
1   BR1 1AE  325000.000000  663443.450694  1.041364
2   BR1 1BQ  183142.857143  507919.926136  1.773354
3   BR1 1HN  182000.000000  442630.879837  1.432038
4   BR1 1HP  430000.000000  493998.094328  0.148833

In [50]:
postalMean.AP.mean()

0.6228854142902633